.Grid {
  padding: 80% 0 0 0;
}

.Wrapper {
  height: 100%;
  padding: 20% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    margin: 10px 0 30px;
  }
}

.ContentContainer {
  margin: auto;
}
