body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.App {
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

div.ant-comment-inner {
  padding: 0;
}

.tab-content {
  padding: 0 20px 20px 20px;
}

.left-right-space {
  padding: 0 5px  ;
}

.middle-all-space {
  padding: 10px  ;
}

.small-all-space {
  padding: 5px  ;
}

.zero-space {
  padding: 0;
}

.message-list > div {
  padding: 0;
  height: 600px;
}